.employee-wrapper {
  height: 100vh;
  width: 100vw;
}

.employee-main-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  margin-top: 3rem;
  padding-right: 3rem;
}


.left-employee-wrapper {
  display: grid;
  grid-auto-flow: row;
  min-width: max-content;
}

.filter-wrapper {
  display: grid;
  align-content: start;
  justify-content: center;
}


.right-employee-wrapper {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  align-content: start;
  gap: 1.5rem;

}


.employee-job-wrapper {
  padding: 0.3rem;
  background-color: (0, 0, 0, 0.04);
  border: 0.1px solid rgb(168, 175, 182);
  height: auto;
  display: grid;
}


.employee-job-wrapper:hover {
  transform: scale(1.07);
  background-color: #dee2e6b2;
  transition: 1s;
}

#days-left-wrapper {
  display: grid;
  justify-items: end;
}


.employee-job-title-days-wrapper {
  display: grid;
  grid-auto-flow: column;
}


.employee-job-description-wrapper {
  display: grid;
}