.home-wrapper {
  height: 100%;
  width: 100%;
  display: grid;

}

.home-main-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  margin-top: 9rem;

}

.left-home-wrapper {
  display: grid;
  grid-auto-flow: row;
  min-width: max-content;
}

.filter-by-wrapper {
  display: grid;
  align-content: start;
  justify-content: center;
}

.right-home-wrapper {
  display: grid;
  grid-auto-flow: row;
  width: 0.75fr;
  place-content: center;
  align-content: start;
  gap: 2rem;

}

.card_wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.job-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.3rem;
  background-color: (0, 0, 0, 0.04);
  border: 0.1px solid rgb(168, 175, 182);
  width: 70vw;

}

.job-wrapper:hover {
  transform: scale(1.07);
  background-color: #dee2e6b2;
  transition: 1s;

}

.job-title-days-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: start;
  gap: 1rem;

}

#profile-pic {
  display: grid;
  width: 100px;
  border-radius: 50px;
  border: 0.1px solid rgb(168, 175, 182);

}

.row_section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.job-description-wrapper {
  display: grid;
  place-content: start;
  margin: 0.5rem;
  padding: 0.5rem;

}

.phone-wrapper {
  display: grid;
  justify-items: right;
  padding: 0.2rem;

}