.profile-home-main-wrapper {
  display: grid;
  grid-template-rows: 10rem 1fr;
  align-content: start;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.top-main-home-wrapper {
  display: grid;
  place-content: center;
  min-width: max-content;

}

.top-main-job-wrapper {
  display: grid;
  grid-template-columns: 150px 50rem;
  gap: 1rem;
  border: 0.1px solid rgb(168, 175, 182);
}

.top-profile-pic-wrapper {
  display: grid;
  place-content: center;
  height: 160px;
}

#top-profile-pic {
  display: grid;
  width: 100px;
  justify-items: center;
  border-radius: 50px;
  left: 0;
}

.top-job-description-wrapper {
  display: grid;
  grid-template-rows: 20px 70px 10px;
  align-content: center;
  justify-content: start;
}



.bottom_main_home_wrapper {
  display: grid;
  width: 0.75fr;
  place-content: center;
  min-width: max-content;
  gap: 2rem;
}


.bottom_job_wrapper {
  padding: 0.3rem;
  background-color: (0, 0, 0, 0.04);
  border: 0.1px solid rgb(168, 175, 182);
  display: grid;
}


.bottom_job_wrapper:hover {
  transform: scale(1.07);
  background-color: #dee2e6b2;
  transition: 1s;
}

.bottom_job_title_wrapper {
  display: grid;
  place-content: start;
  gap: 1rem;
}


.bottom_job_description_wrapper {
  display: grid;
  place-content: start;
  margin: 0.5rem;
}


.bottom_payment_wrapper {
  display: grid;
  justify-content: end;
}